$dark: #1f1f1f;
$light: #eeeeee;
$yellow: #f2ce11;
$gray: #b8b8b8;
$gray-darker: #767676;
$blue-react: #2c91db;
$pink-sass: #cd6799;
$linear-tailwind: linear-gradient(to bottom, #2298bd 0%, #0ed7b5 100%);
$orange-html: #ff7d54;
$linear-gray: linear-gradient(to bottom, #dedede 0%, #b2b2b2 46.35%);
$blue-ts: #246cbc;

$palet-1: #ff7900;
$palet-2: #ffad03;
$palet-3: #ffb947;
$palet-4: #ffc870;
$palet-5: #f9d79f;
$palet-7: #9d4edd;
$palet-6: #240046;
$palet-8: #b376e5;
$palet-9: #cfa9ef;
$palet-0: #f2f2f2;
